@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'SA Long Beach';
    src: url('fontsAdvices/SALongBeachRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    min-height: 100vh;
    background: #c7eae6;
}

.Grammar {
    padding-top: 45px;
}

.literature {
    font-family: 'SA Long Beach', sans-serif;
    color: #38326b;
    text-align: center;
    letter-spacing: 4px;
    font-size: 5em;
}

.imgFlagA,
.imgFlagB {
    margin-top: 50px;
    position: absolute;
    z-index: 100;
}
.wrapperA {
    position: relative;
    background: #edfbfb;
    width: 95%;
    align-items: center;
    margin: 10px auto 0;
    border-radius: 10px;
    padding: 100px;
}

.containerA,
.containerB {
    display: flex;
    justify-content: space-between;
}

.containerA .textbox2A,
.containerB .textbox2B {
    position: relative;
    max-width: 800px;
}

.containA {
    background: #c7eae6;
    margin: 100px auto 0;
    width: 45%;
}

.containB {
    background: #f0dcdb;
    margin: 100px auto 0;
    width: 45%;
}

.textbox1A h3,
.textbox2A h3,
.textbox1B h3,
.textbox2B h3 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 130px;
    font-weight: 500;
    padding: 25px;
}

.textbox1B h3 {
    margin-bottom: 80px;
}

.textbox1A li,
.textbox2A li,
.textbox1B li,
.textbox2B li {
    margin-left: -40px;
    font-size: 2.1em;
    margin-top: 60px;
}

.textbox2A h5,
.textbox2B h5 {
    margin-left: -70px;
    font-size: 2.1em;
    font-weight: 200;
    margin-top: 70px;
}

.textbox1A p,
.textbox2A p,
.textbox1B p,
.textbox2B p {
    font-size: 2.1em;
    margin-top: 20px;
}

.textbox1B p,
.textbox2B p {
    margin-top: 40px;
}

.textbox1B h4 {
    text-align: center;
    font-size: 3em;
    margin-top: 100px;
    font-weight: 500;
    padding: 30px;
}

.imgBoxA,
.imgBoxB {
    position: relative;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 100px;
}

.imgBoxA img,
.imgBoxB img {
    width: 450px;
    height: 600px;
    margin-bottom: 120px;
}

.imgBoxB img {
    margin-bottom: 100px;
}

.wrapperB {
    position: relative;
    box-sizing: border-box;
    background: #f9f0f1;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 100px;
}

.hrB {
    margin-top: 10px;
}
.Home {
    position: relative;
    display: flex;
    justify-content: center;
}

.Home a {
    position: relative;
    text-decoration: none;
    color: #fff;
    top: 70px;
    margin: 0 30px;
    padding: 15px 50px;
    background: #5eb5ad;
    border-radius: 20px;
    font-size: 3.2em;
    font-weight: 500;
    transition: 0.3s;
}

.Home a:hover {
    background: #c7eae6;
    color: #5eb5ad;
}

.Home,
.hrB,
.textbox1B h4,
.imgBoxA img,
.imgBoxB img,
.textbox1A p,
.textbox2A p,
.textbox1B p,
.textbox2B p,
.textbox2A h5,
.textbox2B h5,
.textbox1A li,
.textbox2A li,
.textbox1B li,
.textbox2B li,
.textbox1A h3,
.textbox2A h3,
.textbox1B h3,
.textbox2B h3,
.imgFlagA,
.imgFlagB,
.Grammar {
    transform: translateY(20%);
    animation: ani 1s forwards;
}

@keyframes ani {
    0% { transform: translateY(20%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@media (max-width: 1366px) {
    .imgBoxA,
    .imgBoxB {
        right: -20px;
        top: 200px;
    }
    .imgBoxA img,
    .imgBoxB img {
        margin-bottom: 200px;
    }
}

@media (max-width: 1280px) {
    .imgBoxA,
    .imgBoxB {
        top: 350px;
    }
    .imgBoxA img,
    .imgBoxB img {
        margin-bottom: 400px;
    }
}

@media (max-width: 1130px) {
    .imgBoxA,
    .imgBoxB {
        top: 380px;
    }
    .imgBoxA img,
    .imgBoxB img {
        margin-bottom: 520px;
    }
}

@media (max-width: 1080px) {
    .textbox1A h3,
    .textbox2A h3,
    .textbox1B h3,
    .textbox2B h3 {
        font-size: 2.5em;
    }
    .textbox1A li,
    .textbox2A li,
    .textbox1B li,
    .textbox2B li {
        font-size: 1.8em;
        margin-left: -40px;
        margin-top: 60px;
    }
    .textbox1A p,
    .textbox2A p,
    .textbox1B p,
    .textbox2B p {
        font-size: 1.8em;
        margin-top: 40px;
    }
    .imgBoxA,
    .imgBoxB {
        right: -50px;
        top: 300px;
    }
    .imgBoxA img,
    .imgBoxB img {
        width: 350px;
        height: 500px;
        margin-bottom: 350px;
    }
    .textbox1B h4 {
        font-size: 2.5em;
    }
    .textbox2B h5 {
        font-size: 1.8em;
    }
    .Home a {
        font-size: 2.7em;
    }
}

@media (max-width: 1000px) {
    .imgBoxA,
    .imgBoxB {
        top: 380px;
    }
    .imgBoxA img,
    .imgBoxB img {
        margin-bottom: 540px;
    }
}

@media (max-width: 900px) {
    .imgBoxA {
        right: -50px;
        top: 470px;
    }
    .imgBoxA img {
        margin-bottom: 800px;
    }
    .imgBoxB {
        right: -40px;
        top: 400px;
    }
    .imgBoxB img {
        margin-bottom: 700px;
    }
    .textbox1A p,
    .textbox2A p,
    .textbox1B p,
    .textbox2B p {
        margin-left: -60px;
        margin-top: 40px;
    }
    .textbox1A li,
    .textbox2A li,
    .textbox1B li,
    .textbox2B li {
        margin-left: -50px;
    }
}

@media (max-width: 800px) {
    .imgBoxA img {
        margin-bottom: 1000px;
    }
    .imgBoxB {
        right: -25px;
        top: 400px;
    }
    .imgBoxA img,
    .imgBoxB img {
        width: 300px;
        height: 450px;
    }
}

@media (max-width: 720px) {
    .containerA .textbox2A {
        max-width: 700px;
    }
    .containA,
    .containB {
        width: 90%;
    }
    .textbox1A h3,
    .textbox2A h3,
    .textbox1B h3,
    .textbox2B h3 {
        font-size: 2em;
    }
    .textbox1A li,
    .textbox2A li,
    .textbox1B li,
    .textbox2B li {
        font-size: 1.5em;
        margin-left: -50px;
        margin-top: 90px;
    }
    .textbox1A p,
    .textbox2A p,
    .textbox1B p,
    .textbox2B p {
        font-size: 1.5em;
        margin-left: -60px;
        margin-top: 40px;
    }
    .imgBoxA {
        right: -50px;
        top: 450px;
    }
    .imgBoxA img,
    .imgBoxB img {
        width: 250px;
        height: 350px;
    }
    .imgBoxA img {
        margin-bottom: 700px;
    }
    .imgBoxB {
        right: -20px;
        top: 430px;
    }
    .imgBoxB img {
        margin-bottom: 600px;
    }
    .textbox1B h4 {
        font-size: 2.5em;
    }
    .textbox2B h5 {
        font-size: 1.8em;
    }
    .imgFlagA img,
    .imgFlagB img {
        width: 350px;
        height: auto;
    }
    .Home a {
        font-size: 2.7em;
    }
}

@media (max-width: 600px) {
    .literature {
        font-size: 4em;
    }
    .containA,
    .containB {
        margin: 100px -30px 0;
        width: 120%;
    }
    .textbox2A .TextForPhoneA {
        margin-top: 600px;
    }
    .imgBoxA {
        right: 230px;
        top: 1500px;
    }
    .imgBoxB {
        right: 265px;
        top: 1270px;
    }
    .containerA .textbox2A {
        max-width: 1000px;
    }
    .imgBoxA img,
    .imgBoxB img {
        width: 300px;
        height: 450px;
    }
    .imgBoxA img {
        margin-bottom: 1530px;
    }
    .imgBoxB img {
        margin-bottom: 1450px;
    }
    .textbox2B .TextForPhoneB {
        margin-top: 600px;
    }
}

@media (max-width: 480px) {
    .literature {
        font-size: 4em;
    }
    .containA,
    .containB {
        margin: 100px -30px 0;
        width: 120%;
    }
    .textbox2A .TextForPhoneA {
        margin-top: 600px;
    }
    .imgBoxA {
        right: 230px;
        top: 1500px;
    }
    .textbox1B h4 {
        margin-left: -70px;
    }
    .imgBoxB {
        right: 265px;
        top: 1270px;
    }
    .containerA .textbox2A {
        max-width: 1000px;
    }
    .textbox2B .TextForPhoneB {
        margin-top: 600px;
    }
}

@media (max-width: 393px) {
    .literature {
        font-size: 3.5em;
    }
    .imgBoxA {
        left: -240px;
    }
    .imgBoxB {
        left: -290px;
    }
    .containA,
    .containB {
        margin: 100px -70px 0;
        width: 200%;
    }
    .textbox1B h4 {
        margin-left: -70px;
    }
    .imgFlagA img,
    .imgFlagB img {
        width: 250px;
        height: auto;
    }
}